main {
    margin-bottom: 10px;
}

html {
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    min-height: 90vh;
}

body {
    background-color: #D8D9D7;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    margin: 0;
}

footer {
    position: static;
    bottom: 0;
    color: #D8D9D7;
    background-color: #0B1426;
    padding-left: 10px;
}

h1, h2, h3, figure, figcaption {
    padding: 5px;
}

nav, a {
    padding-bottom: 5px;
    margin-bottom: 5px;
}

table, thead, tr, tbody, td, th, ol {
    padding: 3px;
}

a:hover {
    color: rgb(210, 91, 40);
}

a {
    text-decoration: none;
    color: #6F8C51;
}

nav {
    background-color: #AFD971;
    height: 25px;
    padding-top: 10px;
    padding-left: 10px;
    border-bottom: 3px solid;
}

.recipes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}

.taco-img {
    display: block;
    margin-left: 5px;
    padding-left: 0;
    width: 200px;
    animation: fadeIn 5s;
}

.rec-card {
    display: grid;
    width: 250px;
}

.recipe-link {
    font-size: 30px;
    padding-bottom: 0;
}

tr:nth-child(even) {
    background-color: #6F8C51;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;;}
}